<?xml version="1.0"?>
<model>
  <name>rc_car</name>
  <version>1.0</version>
  <sdf version="1.7">rc_car.urdf.xacro</sdf>
  <author>
    <name>SergioP</name>
    <email>100505950@alumnos.uc3m.es</email>
  </author>
  <description>
    Modelo de coche RC con dirección Ackermann.
  </description>
</model>